.countdown {
    clear: both;
    font-family: "josefin-light";
    color: #8BC248;
    margin-bottom: 10%;

    span { font-size: 3rem; }

    @media screen and (min-width: 320px) and (max-width: 1347px) {
        figure {
            width: 95%;
            margin: 5% auto;
        }
    }
}

.countdown--wrapper {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 2% 0 5% -7%;

    figure {
        width: 10%;
        display: inline-block;
        margin: 0;
    }

    img { width: 75%; }

    @media screen and (min-width: 320px) and (max-width: 1023px) {
        margin: 2% 0 5%;

        span { font-size: 2rem; }

        figure { display: none; }
    }
}

.countdown--days, .countdown--hours, .countdown--minutes, .countdown--seconds {
    display: inline-block;
    width: 21.9%;
    border-right: 1px solid #009988;

    &:last-of-type { border-right: none; }
}
