.header__container {
  width: 70%;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 15%;

  img {
    width: 100%;
    height: auto;
  }
}

.nav {
  display: inline-block;
  width: 75%;

  ul {
    margin-left: 15%;
  }

  li {
    display: inline-block;
    margin-right: 5%;
    font-family: "josefin-light";
    text-transform: uppercase;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

.hero-image {
  margin-bottom: 15%;

  img {
    width: 100%;
    height: auto;
    margin-top: -5%;
  }

  h1 {
    font-family: "montserrat";
    color: #4D4B4C;
    text-align: center;
    margin-top: -10%;
  }

  p {
    text-transform: uppercase;
    text-align: center;
  }
}