@import "_vendor";
@import "_fonts";

@import "_header";
@import "_hamburger";
@import "_countdown";
@import "_footer";

body {
  min-width: 320px;
  margin-top: 2.5%;
  overflow-x: hidden;
}

.container { @include grid-container; }

.main__container {
  width: 70%;
  margin: 0 auto;

  @media screen and (min-width: 320px) and (max-width: 1347px) {
    width: 95%;
  }
}

img { width: 100%; }

p, li { line-height: 1.8rem; }

h2 { letter-spacing: .2rem; }

.about {
  margin-bottom: 25%;

  figure {
    @include grid-column(1);
    position: relative;
    top: 2rem;
    left: 1rem;
  }

  @media screen and (min-width: 320px) and (max-width: 1023px) {
    figure { display: none; }
  }
}

.participation {
  clear: both;
  margin-bottom: 60%;

  h1 {
    margin-bottom: 5%;
    font-weight: 100;
  }

  figure {
    @include grid-column(1);
    position: relative;
    top: 2rem;

    @media screen and (min-width: 320px) and (max-width: 1023px) {
      display: none;
    }
  }
}

.participation__article {
  @include grid-column(5);
  margin-left: 0;

  h2 { font-size: .7rem; }

  &:first-of-type {
    figure {
      width: 35%;
      position: relative;
      top: -2rem;
    }

    img { width: 70%; }
  }

  &:nth-of-type(2) {
    margin-bottom: 5%;
    @include grid-column(6);

    figure {
      width: 35%;
      position: relative;
      left: -1rem;
      top: 0;
    }

    img { width: 110%; }
  }

  &:nth-of-type(3) {
    clear: both;

    figure {
      width: 35%;
      position: relative;
      top: 1rem;
    }

    img { width: 70%; }
  }

  &:last-of-type {
    @include grid-column(6);
    
    figure {
      width: 35%;
      position: relative;
      left: -1rem;
      top: 0;
    }

    img { width: 90%; }
  }

  figure {
    width: 30%;
    height: auto;
    margin-right: 0;

    img { width: 55%; }
  }

  section {
    display: inline-block;
    width: 55%;
  }

  @media screen and (min-width: 320px) and (max-width: 1023px) {
    @include grid-column(12);
    text-align: center;
    margin-bottom: 10%;

    &:first-of-type {
      figure { top: 0; }
    }

    &:nth-of-type(3) {
      figure { top: 0; }
    }

    &:nth-of-type(2), &:last-of-type {
      @include grid-column(12);
    }

    section {
      display: block;
      width: 100%;
    }

    figure {
      display: block;
      float: none;
      margin: 0 auto;
    }
  }
}

.main--left {
  @include grid-column(5);
  margin-left: 0;

  @media screen and (min-width: 320px) and (max-width: 1023px) {
    @include grid-column(12);
  }
}

.main--right {
  @include grid-column(5);

  @media screen and (min-width: 320px) and (max-width: 1023px) {
    @include grid-column(12);
  }
}
